<div class="row">
    <div class="col">
        <h2>Clientes</h2>
        <ul class="list-group">
            <li class="list-group-item">Nombre del cliente: {{customer.name}}</li>
            <li class="list-group-item">Dirección del cliente: {{customer.direccion.principalStreet}} - 
                {{customer.direccion.secondaryStreet}} {{customer.direccion.city}} {{customer.direccion.code}}
            </li>
        </ul>
    </div>
    <div class="col">
        <h2>Requerimientos</h2>
        <ul class="list-group">
            <li class="list-group-item">Tiempo de duración: {{customer.requerimeinto.tiempo}}</li>
            <li class="list-group-item">Detalle: {{customer.requerimeinto.detalle}}</li>
        </ul>
    </div>
</div>
